
<section>
<div class="container">
    <div class="row mt-4 mb-4">
        <a href="/admin/add-category" class="btn btn-success ml-auto">Add Category</a>
    </div>
<table class="table mt-5 " id="categoryTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th>Category</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
      {{#each Categories}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.Category}}</td>
      <td>
    
        <a href="/admin/edit-category/{{this._id}}" class="btn btn-primary">Edit</a>
        <a href="/admin/delete-category/{{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to delete the item {{this.Name}}?')">Delete</a>

      </td>
    </tr>
    {{/each}}
   </tbody>
</table>
</div>
</section>
<script>
  $(function (){
    $('#categoryTable').DataTable();
  });
</script>