<!--- Connect -->
	<div class="container-fluid padding "style="align-items:center;padding: left 10rem;" >
		<div class="row text-center padding" style="align-items:center">
			<div class="col-12">
				<h4 class="display-4">Connect</h4>
				<br>
			</div>
			<div class="col-md-12 social padding bg-light" style="">
				<br><br>
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-google-plus-g"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
				<br><br>
			</div>
		</div>
	</div>