<!--- Package Section -->
<section class="text-center">
	<h1>Package</h1>
    
</section>
<br><br>
<section class="package ml-5">
	<div class="container">
        {{#each packages}}
		<div class="row">
			<img src="/package-images/{{this._id}}.jpg" alt="">
			<div class="all-tooltip">

				<div class=" tooltip tooltip-1 " style="left:50rem;top:10rem">
					<div class="pin"></div>
					<div class="tooltip-content">
						<div class="arrow"></div>
						<div class="content">
							<h1>Closet</h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, natus.</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, natus.</p>
							<button>Buy Now AED199</button>
						</div>
					</div>
				</div>
				<div class="tooltip tooltip-2">
					<div class="pin"></div>
					<div class="tooltip-content">
						<div class="arrow"></div>
						<div class="content">
							<h1>Wash basin</h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, natus.</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, natus.</p>
							<button>Buy Now AED199</button>
						</div>
					</div>
				</div>
				<div class="tooltip tooltip-3">
					<div class="pin"></div>
					<div class="tooltip-content">
						<div class="arrow"></div>
						<div class="content">
							<h2>Bidet</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus molestiae
								accusantium magni ex numquam
								eveniet, doloremque dolores impedit beatae quas!</p>
						</div>
					</div>
				</div>
				<div class="tooltip tooltip-4">
					<div class="pin"></div>
					<div class="tooltip-content">
						<div class="arrow"></div>
						<div class="content">
							<h2>Bathroom Accessories</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus molestiae
								accusantium magni ex numquam
								eveniet, doloremque dolores impedit beatae quas!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
        {{/each}}
	</div>
</section>
<br>

<hr>