<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1 class="text-center mt-5">Thank you</h1>
                <h4 class="text-center">Order Placed Successfully</h4>
                <a href="/orders/" class="btn btn-primary mt-3" style="margin-left: 36rem;">View Orders</a>
                <br><a href="/" class="btn btn-primary mt-2"style="margin-left: 32rem;">Click here to continue Shopping</a>

            </div>
        </div>
    </div>
</section>