<!--- Welcome Section -->
<section class="collection ">
	<div class="container-fluid padding " data-aos="fade-up" data-aos-offset="200" data-aos-delay="50"
		data-aos-duration="1000">
		<div class="row welcome text-center ml-2 ">
			<div class="col-12 ml-2">
				<h4 class="display-4">Our Collections</h4>
			</div>
			<hr>

		</div>
	</div>
</section>

<br>
<!--- Three Column Section -->

<section class="">
	<div class="container bg-light">

		<div class="container-fluid padding " data-aos="fade-up" data-aos-offset="200" data-aos-delay="50"
			data-aos-duration="1000">
			<div class="row text-center padding pt-5 pb-5 ml-5">
				{{#each products}}

				<div class="card col-xs-12 col-sm-5 col-md-3 bg-light animate__animated animate__fadeInLeft animate__slow"
					style="align-items:center;border-radius:1rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
					<br>
					<a href="sanitaryware.html" style="text-decoration:none;color:black;">
						<h5><u>{{this.Name}}</u></h5>
						<br>
						<img class="" src="/product-images/{{this._id}}.jpg" style="width:8rem;height:8rem;">
						<p>{{this.Description}}</p>
					</a>
				</div>
				<div class="col-md-1"></div>
{{/each}}

			</div>
		</div>

	</div>
</section>
<br>







<br>
<br>
